* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: none;
}

.blob {
  width: 40%;
  height: 70vh;
  background: black;
  top: 20vh;
  left: 5%;
  filter: blur(200px);
  position: absolute;
  animation: blob 10s infinite ease-in-out;
}

@keyframes blob {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(70vw) translateY(-100px);
  }
}

::selection {
  background:black;
  border-radius: 13px;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  background:white;
  color: black;
  color: black;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

#WebGL {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: block;
  position: fixed;
  pointer-events: none;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  padding: 2rem;
}

nav.navbar {
  position: fixed;
  top: 1%;
  left: 10%;
  border-radius: 10px;
  width: 80%;
  height: 70px;
  background: #00000054;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.543);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.4rem;
  font-weight: 1000;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

.btn {
  padding:10px 40px;
  background:black;
  color: white;
  font-weight: 1000;
  width: fit-content;
  border: none;
  border-radius: 9px;
  text-decoration: none;
  box-shadow: 0 0 100px black;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 100px black, 0 20px 200px black;
}

.btn i {
  color: white;
}

#s1 {
  opacity: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#s1 .cta {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#s1 h1 {
  font-size: 60px;
  font-weight: 1000;
  text-shadow: 0 10px 100px black;
  animation: titler 1s ease-in-out;
}

#s1 p {
  font-size: 30px;
  font-weight: 1000;
  opacity: 0.6;
  color: black;
}

#s1 a {
  font-weight: 1000;
  font-size: 20px;
  background: black;
  text-decoration: none;
  color: white;
  position: absolute;
  margin-top: 60vh;
  padding: 20px 60px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 20px 100px black;
  transition: 0.5s;
}

#s1 a:hover {
  transform: scale(1.07) translateY(-10px);
  box-shadow: 0 20px 100px black, 0 20px 200px black;
}

#s2 {
  display: flex;
  gap: 6vw;
  flex-direction: row;
  height: 180vh;
}

#s2 h1 {
  font-size: 60px;
  font-weight: 1000;
  color: black;
  text-shadow: 0 10px 100px black;
}

#s2 .offre {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 70vh;
}

#s2 article h1 {
  font-size: 40px;
}

#s2 article {
  background: rgba(0, 0, 0, 0.301);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}

#s2 .icon {
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 40px;
}

#s3 {
  display: flex;
  justify-content: space-evenly;
}

#s3 h1 {
  font-size: 60px;
  text-shadow: 0 10px 100px black;
  font-weight: 1000;
}

#s3 p {
  font-size: 30px;
  font-weight: 1000;
  opacity: 0.6;
}
#s3 .whyme {
  background: linear-gradient(45deg, #0000005c, #0000003b);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 5vh;
  border-radius: 30px;
}

#s3 .tesks {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-size: 20px;
  font-weight: 1000;
  text-shadow: 0 10px 100px black;
}

#s4 {
  display: flex;
  gap: 8vh;
  height: 130vh;
}

#s4 h1 {
  color: black;
  font-size: 60px;
  font-weight: 1000;
}

#s4 .etude {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.etude article h2 {
  font-size: 40px;
  font-weight: 1000;
  text-shadow: 0 10px 100px black;
}

#s4 article{
  display: flex;
  flex-direction: column;
  background: #00000054;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  height: fit-content;
  flex: 1 1 0;
  padding: 30px;
  gap: 4vh;
}

#s4 article span {
  background: black;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius:10px;
  gap: 2vw;
  font-weight: 1000;
  margin-left: auto;
}

#s4 article p {
  color: black;
  opacity: 0.6;
  font-weight: 1000;
  font-size: 20px;
}

.popel {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

#s4 .project {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.details {
  padding: 20px;
  background: #ffffff77;
  font-weight: 1000;
  border-radius: 13px;
}

.details h4 {
  text-shadow: 0 10px 100px black;
}

.img {
  width: 100%;
  height: 40vh;
  border-radius: 13px;
  transition: 0.5s;
}

article:nth-of-type(1) .project .img {
  background: url(./sits.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.etude > article:nth-of-type(2) .project .img {
  background: url(./site.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 100px black;
}

article:nth-of-type(2) .project .img {
  background: black;
}
#s4 a {
  padding: 20px 40px;
  color: white;
  background: black;
  font-size: 25px;
  text-decoration: none;
  border-radius: 13px;
  font-weight: 1000;
  box-shadow: 0 10px 100px black;
  width: fit-content;
  transition: 0.5s;
}

#s4 a:hover {
  box-shadow: 0 10px 100px Black, 0 10px 100px black;
  transform: translateY(-5px) scale(1.1) ;
}

#s6 {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  text-align: start;
  padding: 30px;
  gap: 3vh;
}

#s6 h1 {
  color: #000000;
  text-shadow: 0 10px 100px black;
  font-size: 40px;
}
#s6 p {
  color: black;
  text-shadow: 0 10px 100px black;
  font-size: 30px;
  text-align: center;
}

#s5 {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 6vh;
}

#s5 h1 {
  font-size: 60px;
  font-weight: 1000;
}

#s5 h3 {
  font-size: 40px;
}

#s5 p {
  font-size: 30px;
}

.email {
  padding: 30px;
  display: flex;
  gap: 4vw;
  background: #00000054;
  border-radius: 20px;
  justify-content: center;
  width: fit-content;
  place-items: center;
}

.email .inac {
  background: black;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  text-align: center;
  place-items: center;
  font-size: 30px;
  display: flex;
}

.email h2 {
  text-shadow: 0 10px 100px black;
}

.inac i {
  color: white;
  text-shadow: 0 10px 40px white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  height: 40vh;
  font-weight: 1000;
  text-shadow: 0 10px 75px white;
  background-color: #000000;
  color: white;
  flex-wrap: wrap;
  box-sizing: border-box;
}

footer .logo {
  flex: 1 1 150px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

footer nav,
footer section {
  flex: 1 1 200px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer a {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.514);
  text-shadow: 0 10px 100px white;
  text-decoration: none;
  
}

footer h4 {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

footer p {
  flex: 1 1 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #bbb;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s ease;
}

button:hover ~ .custom-cursor,
.custom-cursor.hovering {
  transform: scale(2);
}

button {
  margin: 100px;
  padding: 10px 20px;
  font-size: 16px;
}

.mask-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;

  pointer-events: none;
  z-index: 9999;

  backdrop-filter: blur(10px);

  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0) 30%
  );

  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0) 30%
  );
}

#s2 h3{
  display: none;
}

.mobile {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.mobile-menu {
  opacity: 0;
  display: none;
  pointer-events: none;
}

@media (max-width: 967px) {
  body {overflow-x: hidden;}

  nav.navbar {
    display: none;
  }

  #s1 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #s1 .cta {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  #s1 a {
    display: none;
  }

  #s2 {
    display: flex;
    flex-direction: column;
  }

  #s2 h3 {
    display: block;
    font-size: 10vw;
  }

  #s2 {
    height: fit-content;
  }

  .s2Title {
    display: none;
  }

  .offre {
    max-width: 85vw;
  }

  #s3 {
    height: fit-content;
  }

  #s4 {
    height: fit-content;
  }

  .etude {
    display: flex;
    width: fit-content;
    flex-direction: column !important;
  }

  .popel {
    display: flex;
    flex-direction: column-reverse;
  }

  #s5 {
    display: flex;
    height: fit-content;
  }

  .email {
    display: flex;
    flex-direction: column;
  }

  .section {
    overflow-x: hidden;
  }

  .mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    transition: opacity 0.3s ease-in-out;
  }

  .mobile .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile .menu a {
    color: rgba(255, 255, 255, 0.372);
    font-size: 20px;
    font-weight: 1000;
  }

  .mobile .logo {
    font-size: 50px;
    font-weight: 1000;
    color: transparent;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.363), rgba(255, 255, 255, 0.121));
    background-clip: text;
  }

  .mobile .btn {
    background: rgba(255, 253, 253, 0.196);
  }
 
  .mobile-menu {
    opacity: 1;
    display: block;
    pointer-events: all;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.306);
    backdrop-filter: blur(15px);
    padding: 10px;
    color: black;
    border-radius: 13px;
    top: 2%;
    left: 2%;
    text-align: center;
    justify-content: center;
    place-items: center;
    display: flex;
    z-index: 10000;
    box-shadow: 0 10px 100px black;
    text-shadow: 0 10px 70px black;
    position: fixed;
  }

  .mobile.active {
    opacity: 1;
    pointer-events: all;
  }

  body.menu-open {
    overflow: hidden;
  }

  footer {
    height: fit-content;
  }
}
